services:
  db:
    image: mysql:8.4.7
    environment:
      MYSQL_ROOT_PASSWORD: dac
      MYSQL_DATABASE: OunDeDeDB
      MYSQL_USER: admin
      MYSQL_PASSWORD: password
    restart: unless-stopped
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: